### Purpose
This Jupyter notebook claculates **the concentration of elements (g ELEMENT/L) and (mol ELEMENT/L)** for 4 media used in the experiements DDB_PD_138_AMBR and DDB_PD_139_AMBR:
- DDB_BM_002
- DDB_BM_005  
- DDB_FM_002
- DDB_FM_005

### Excel file: "media_recipe.xlsx"
The file contains the steps followed to get the compound composition for every medium
 
### Excel file: "compounds_database.xlsx"
The file contains the molecular formula for the compound found in the media which will be used to perform all the following calculations

## Loading the files needed for the calculations

In [1]:
from chempy import Substance
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import re
from IPython.display import display

ABSOLUTE_PATH = r"C:/Users/harou/OneDrive/Bureau/data_suresh/"

def searchCompound(search_value):
    index = None
    if search_value.strip():
        for column in df_compounds.columns:
            exact_match = df_compounds[column].str.strip() == search_value.strip()
            if exact_match.any():
                index = exact_match[exact_match].index[0]
                return df_compounds.loc[index]
        return None
    
def getMolarMass(formula):
    return round(Substance.from_formula(formula).mass, 5)


def parseMolecularFormula(molecular_formula, water_count):
    element_counts = {'C': 0, 'H': 0, 'O': 0, 'N': 0, 'S': 0, 'P': 0, 'Cl': 0, 'Na':0, 'Mo':0, 'K': 0, 'Mg': 0, 'Ca': 0, 'Fe': 0, 'Mn': 0, 'Zn': 0, 'Cu': 0, 'Co': 0}

    element_pattern = r'([A-Z][a-z]*)(\d*)'
    matches = re.finditer(element_pattern, molecular_formula)

    for match in matches:
        element_symbol = match.group(1)
        element_count = int(match.group(2)) if match.group(2) else 1
        if element_symbol in element_counts:
            element_counts[element_symbol] += element_count

    # Decreasing the count of H and O based on water_count
    element_counts['H'] -= (2 * water_count)
    element_counts['O'] -= water_count
    
    element_matrix = [[element, count] for element, count in element_counts.items() if count > 0]
    return element_matrix

def sumSimilarElements(element_lists):
    element_counts = {}
    for element_list in element_lists:
        for element, count in element_list:
            if element in element_counts:
                element_counts[element] += count
            else:
                element_counts[element] = count

    return [[element, count] for element, count in element_counts.items()]

def getWaterMoleculesCount(chemical_formula):
    match = re.search(r'\*(\d*)H2O', chemical_formula)
    if match:
        if match.group(1) == '':
            water_molecule_count = 1
        else:
            water_molecule_count = int(match.group(1))
        return water_molecule_count
    else:
        return 0
    
def center_align(val):
    return 'text-align: center'

def printBoldText(text, color=34):
    print(f"\033[1;{color}m{text}\033[0m")
    
pd.set_option('display.max_columns', None)

df_compounds = pd.read_excel(f"{ABSOLUTE_PATH}compounds_database.xlsx", sheet_name="Sheet1")

printBoldText("Loading the registered compounds with their molecular formula:", 30)
display(df_compounds.style.applymap(center_align))

printBoldText("Loading the media composition:", 30)

df_media_composition = pd.read_excel(f"{ABSOLUTE_PATH}media_recipe.xlsx", sheet_name="media_composition", header=None)
media_list = {}

media_list[df_media_composition[0][0]] = df_media_composition[1: 14]
media_list[df_media_composition[0][14]] = df_media_composition[15: 30]
media_list[df_media_composition[0][30]] = df_media_composition[31: 41]
media_list[df_media_composition[0][41]] = df_media_composition[42: 44]

for medium_name, medium_composition in media_list.items():
    printBoldText(f"\n{medium_name}: ", 31)
    medium_composition_copy = medium_composition.copy()
    medium_composition_copy = medium_composition_copy.drop(medium_composition_copy.columns[2], axis=1)
    medium_composition_copy.columns = ["Compound", "Amount (g/L)"]
    medium_composition_copy.reset_index(drop=True, inplace=True)
    display(medium_composition_copy.style.applymap(center_align))

Loading the registered compounds with their molecular formula:

Loading the media composition:

DDB_BM_002:

DDB_BM_005:

DDB_FM_002:

DDB_FM_005:

# Calculations

In [2]:
df_elements_concentration_list = []

for medium_name, medium_composition in media_list.items():

    medium_compound_compositions = list(media_list[medium_name][0])
    medium_compound_concentartions = list(media_list[medium_name][1])

    elements = ['C', 'H', 'O', 'N', 'S', 'P', 'Cl', 'Na', 'K', 'Mg', 'Ca', 'Fe', 'Mn', 'Zn', 'Cu', 'Co', 'Mo']
    columns = ["Name", "Structure", "MW (g/mol)"] + elements

    df_matrix = pd.DataFrame(columns=columns)

    for index, compound in enumerate(medium_compound_compositions):

        found_compound = searchCompound(compound.strip())
        
        name = found_compound['Name']
        structure = found_compound['Structure']
        molecular_formula = found_compound['Molecular formula']
        water_count = getWaterMoleculesCount(structure)
        
        molecular_weight = getMolarMass(molecular_formula)
        molecular_weight_without_water = getMolarMass(molecular_formula)-water_count*getMolarMass('H2O') # removing the MW of water molecules
        
        # 1. Creating the elemnts matrix 
        elemental_composition = parseMolecularFormula(molecular_formula, water_count) # removing the atoms from the water molecules
        compounds_data = {element: 0 for element in columns}
        for element, count in elemental_composition:
            compounds_data[element] = count

        # 2. Calculating the fraction of element present in the compound (gELEMENT/gCOMPOUND)
        fraction_data = {}
        for element, count in compounds_data.items():
            if element not in ["Name", "Structure", "MW (g/mol)"]:
                fraction_data[f"{element} (g/g)"] = (count * getMolarMass(element) / molecular_weight_without_water)
        compounds_data.update(fraction_data)

        # 3. Calculating the concentration of elements present in the medium (gELEMENT/L)
        concentration_data = {}
        for element, fraction in fraction_data.items():
            # Removing the mass contribution of water
            ajusted_concentration = medium_compound_concentartions[index] * (molecular_weight_without_water/molecular_weight)
            concentration_data[f"{element.replace(' (g/g)', '')} (g/L)"] = fraction*ajusted_concentration
        compounds_data.update(concentration_data)

        # Generating the final dataframe
        compounds_data["Name"] = found_compound['Name']
        compounds_data["Structure"] = found_compound['Structure'].split("*")[0]
        compounds_data["MW (g/mol)"] = molecular_weight_without_water

        df_matrix = df_matrix.append(compounds_data, ignore_index=True)

    column_order = ['Name', 'Structure', 'MW (g/mol)'] + elements + [f"{element} (g/g)" for element in elements] + [f"{element} (g/L)" for element in elements]
    df_matrix = df_matrix[column_order]

    printBoldText(f'\nCalculations for {medium_name}:', 31)
    #printBoldText(f"\n1- The elements composition of each compound \n2- The fraction of elements in each compound (gELEMENT/gCOMPOUND)\n3- The concentration of elements in each compound (gELEMENT/L)", 30)

    display(df_matrix.style.applymap(center_align))

    # 
    printBoldText(f"\nThe concentration of elements in {medium_name} medium  is: ", 34)

    metal_concentration_columns = [col for col in df_matrix.columns if "(g/L)" in col]
    elements_concentration = df_matrix[metal_concentration_columns].sum()

    df_elements_concentration = pd.DataFrame({'Metal ion': [item.replace(' (g/L)', '') for item in metal_concentration_columns], 'g ELEMENT /L': elements_concentration})
    df_elements_concentration.reset_index(drop=True, inplace=True)
    
    #df_elements_concentration = df_elements_concentration.sort_values(by='g ELEMENT /L', ascending=False)
    
    df_elements_concentration.reset_index(drop=True, inplace=True)
    
    df_elements_concentration['mol ELEMENT /L'] = df_elements_concentration.apply(lambda row: row['g ELEMENT /L'] * getMolarMass(row['Metal ion']), axis=1)
       
    df_elements_concentration_list.append({medium_name: df_elements_concentration})
    display(df_elements_concentration.style.applymap(center_align))
    
    
columns = []
double_header = []
data = []

columns.append("Metal ion")
data.append(list(df_elements_concentration_list[0]["DDB_BM_002"]["Metal ion"]))
        
for dictionary in df_elements_concentration_list:
    for medium_name, df in dictionary.items():        
        columns.append(f"{medium_name}" )        
        data.append(list(df["g ELEMENT /L"]))

printBoldText(f"\nSummary: ", 31)
df_summary = pd.DataFrame({columns[0]: data[0], columns[1]: data[1], columns[2]: data[2], columns[3]: data[3], columns[4]: data[4]})

df_summary.columns = pd.MultiIndex.from_tuples([(' ',               columns[0]),
                                                ('g ELEMENT /L',    columns[1]),
                                                ('g ELEMENT /L ',   columns[2]),
                                                ('g ELEMENT /L  ',  columns[3]),
                                                ('g ELEMENT /L   ', columns[4])])

try:
    df_summary.to_excel(f"{ABSOLUTE_PATH}files/summary.xlsx", index=True)
    df_summary_local = pd.read_excel(f"{ABSOLUTE_PATH}files/summary.xlsx", sheet_name="Sheet1")
    df_summary_local = df_summary_local.drop(df_summary_local.index[1])
    df_summary_local = df_summary_local.drop(columns=df_summary_local.columns[0])
    df_summary_local.to_excel(f"{ABSOLUTE_PATH}files/summary.xlsx", index=False)
    
except:
    pass

display(df_summary.style.applymap(center_align))

Calculations for DDB_BM_002:

The concentration of elements in DDB_BM_002 medium  is:

Calculations for DDB_BM_005:

The concentration of elements in DDB_BM_005 medium  is:

Calculations for DDB_FM_002:

The concentration of elements in DDB_FM_002 medium  is:

Calculations for DDB_FM_005:

The concentration of elements in DDB_FM_005 medium  is:

Summary: